{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block content %}
<style>
@media print {
    a {
        text-decoration: none;
        color: inherit;
    }

    .feedback, .register {
        display: none;
    }

    .print-register {
        text-align: center;
        margin: 20px 0 40px;
    }
}

@media screen {
    .print-register {
        display: none;
    }

    .feedback, .register {
        text-align: center;
        margin-bottom: 40px;
    }

    .register .btn {
        height: 48px;
        line-height: 48px;
        font-size: 3rem;
    }
}

.footnote {
    font-size: 80%;
    line-height: 1.5;
}

.site-logo {

}
</style>
<div class="info-row">
    <h1>super gigs for superheroes</h1>
</div>
{% endblock %}
