{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block content %}
<style>
.hero-cover {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.subtitle {
    font-size: 1.2em;
}
</style>
<h2>Welcome to Caperr!</h2>
<p class="subtitle">We find <i>super gigs</i> for <i>superheroes</i>. If you are ready to help solve the world's puzzles and defeat some evil, we invite you to join us.</p>
<img class="hero-cover" src="/static/images/hero-cover.png">
{% endblock %}
