{% load i18n %}
<tbody class="puzzles-section">
    {% for data in round.puzzles %}
    <tr>
        <td>
            {% if not data.puzzle.is_meta %}{{ data.puzzle.order }}{% endif %}
        </td>
        <td>
            <a href="{% url 'puzzle' data.puzzle.slug %}">
                {{ data.puzzle.name }}
            </a>
        </td>
        <td>
            {% if data.full_stats %}
            <a class="puzzles-new" href="{% url 'solution' data.puzzle.slug %}">{% translate "Solution" %}</a>
            {% elif 'hints' in data %}
            <a class="puzzles-new" href="{% url 'hints' data.puzzle.slug %}">{% translate "Hints" %}</a>
            {% endif %}
        </td>
        {% if team %}
        <td class="puzzles-answer">
            <div>
                {% if 'answer' in data %}{{ data.answer }}{% else %}&nbsp;{% endif %}
            </div>
            {% if 'survey_stats' in data %}
            <div class="puzzles-inner">
                <a href="{% url 'survey' data.puzzle.slug %}">
                {% for stat in data.survey_stats %}
                <b>{{ stat.average|floatformat:2 }}</b>/{{ stat.max_rating }}&nbsp;{{ stat.adjective }}
                {% if not forloop.last %}|{% endif %}
                {% endfor %}
                </a>
            </div>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
