{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block content %}
<img style="width: 100%" src="../static/images/supervillain_victory.png">
<br><br>
<h3>The Reveal</h3>
<p>Aha, it was Evil Kermit all along!</p>
<p>It may not be <i>easy</i> being green... but you, heroes, have all the skills you need to save the world.</p>
<p>Over the past month, you've honed your ability to self organize, think outside the box, make connections, and solve challenging puzzles together — all invaluable skills as you continue to tackle real-world puzzles.</p>
<p>🏆🏆 Congrats on completing your training at Caperr! 🏆🏆</p>
<br>
<h3>About This Game</h3>
<p>This puzzle hunt was designed by Matthew Stein and Benji Nguyen of Enigmida, an independent game design studio based in Oakland, CA. For more puzzles, follow our work at <a href="https://www.instagram.com/enigmida/" target="_blank">@enigmida</a> or subscribe to <a href="https://enigmida.substack.com/" target="_blank">our newsletter</a>.</p>
{% endblock %}
