{% extends "puzzle.html" %}
{% block puzzle-body-md %}
<style>
	#tm {
		width: 100%;
	}
</style>

<p>BREAKING NEWS!! Reports indicate that a colossal Trash Monster has emerged in Landfillipsburg and is wreaking odorous havoc on the surrounding region. Superheroes: we need your help to bring down this creature!</p>

<img id="tm" src="../static/images/trash-monster.png" alt="">

<p>Our intel indicates that the only way to defeat the Trash Monster is by dismantling it piece by piece. You can accomplish this by applying 5 different Transformations to items contained within the Trash Monster, resulting in the words clued in the Recycled Items Output list below.</p> 

<p>You’ll use each of these transformations precisely 8 times, though it’s up to you to determine which transformations apply to which items.</p>

<p>The final answer is a 2-word phrase.</p>

<b>Transformations:</b>
<ol>
<li>Scramble the letters to get a new item</li>
<li>Scramble and repeat the letters to get a new item (note: for this transformation, the initial item doesn’t repeat any letters)</li>
<li>Remove the starting or ending letter to get a new item</li>
<li>Break the item down into 2 or 3 new items</li>
<li>Keep the consonants (in order) but swap in new vowels (any number, in any positions) to get a new item</li>
</ol>

<b>Recycled Items Output:</b>
<ul>
<li>More irate (7)</li>
<li>Tree that gives its name to a Colorado ski town (5)</li>
<li>Daisy-like flower (5)</li>
<li>He held the world on his shoulders (5)</li>
<li>Broad st. (3)</li>
<li>Song or sunscreen brand (11)</li>
<li>Fill in the ___ (5)</li>
<li>B in FANBOYS (3)</li>
<li>Train unit (3)</li>
<li>Spiced tea (4)</li>
<li>Word after skeleton or flight (4)</li>
<li>Reverberates (6)</li>
<li>Event one might buy a ring for (10)</li>
<li>Indefinitely long time span (3)</li>
<li>Slowly wear away (5)</li>
<li>UFO pilot, perhaps (2)</li>
<li>"Aha!" (6)</li>
<li>Kind of warfare (8)</li>
<li>Run-down dwelling (5)</li>
<li>Cause of a rash (8)</li>
<li>Magazine releases (6)</li>
<li>Seinfeld's neighbor (6)</li>
<li>Actress Gish (7)</li>
<li>Secure (4)</li>
<li>Something you might drop (3)</li>
<li>Like a tournament anyone can enter (4)</li>
<li>Plug-in place (6)</li>
<li>Hurtful exclamation (2)</li>
<li>Bread, in Paris (4)</li>
<li>Body part or tree (4)</li>
<li>Persecution delusion (8)</li>
<li>Sir Fleming's discovery (10)</li>
<li>Truffle hunter (3)</li>
<li>___ of Paris (7)</li>
<li>Rocket of film (7)</li>
<li>Raised line (5)</li>
<li>Decay (3)</li>
<li>Propel a boat (3)</li>
<li>A scramble to find gold, say (4)</li>
<li>Most impudent or most covered in ketchup? (8)</li>
<li>Biblical tempter (7)</li>
<li>Most brainy (8)</li>
<li>Dining room fixture (5)</li>
<li>Mexican standard fare (4)</li>
<li>Lung infection, for short (2)</li>
<li>Toto's breed (7)</li>
<li>Partner of fro (2)</li>
<li>Large amount (3)</li>
<li>It might get knocked out of you (4)</li>
<li>It's made of letters (4)</li>
<ul>

{% endblock %}
