{% extends "puzzle.html" %}
{% block puzzle-body-md %}
<style>
#tm {
	width: 100%;
}
.transformation-hint {
	background: rgb(58, 129, 209);
	padding: 5px;
	border-radius: 10px;
	visibility: hidden;
}
</style>

<p>BREAKING NEWS!! Reports indicate that a colossal Trash Monster has emerged in Landfillipsburg and is wreaking odorous havoc on the surrounding region. Superheroes: we need your help to bring down this creature!</p>

<img id="tm" src="../static/images/trash-monster.png" alt="">

<p>Our intel indicates that the only way to defeat the Trash Monster is by dismantling it piece by piece. You can accomplish this by applying 5 different Transformations to items contained within the Trash Monster, resulting in the words clued in the Recycled Items Output list below.</p> 

<p>You’ll use each of these transformations precisely 8 times, though it’s up to you to determine which transformations apply to which items.</p>

<p>The final answer is a 2-word phrase.</p>

<h3>Transformations</h3>
<ol>
<li>Anagram the letters to get a new item</li>
<li>Anagram and potentially repeat the letters to get a new item  (note: for this transformation, the initial item’s letters are all unique and don’t repeat)</li>
<li>Remove the starting or ending letter to get a new item</li>
<li>Break the item down into 2 or 3 new items</li>
<li>Keep the consonants (in order) but swap in new vowels (any number, in any positions) to get a new item</li>
</ol>

<h3>Examples</h3>
<ol>
<li>WASTE &#8594 SWEAT</li>
<li>DEBRIS &#8594 BIRDSEED</li>
<li>TRASH &#8594 RASH</li>
<li>GARBAGE&#8594 GARB + AGE</li>
<li>DROSS &#8594 DURESS</li>
</ol>

<h3>Recycled Items Output</h3>
<button class="btn transform-hints">Show Transformation Hints</button>
<ul>
<li>More irate (7) <span class="transformation-hint">Transformation #1</span></li>
<li>Tree that gives its name to a Colorado ski town (5) <span class="transformation-hint">Transformation #5</span></li>
<li>Daisy genus (5) <span class="transformation-hint">Transformation #4</span></li>
<li>He held the world on his shoulders (5) <span class="transformation-hint">Transformation #2</span></li>
<li>Broad st. (3) <span class="transformation-hint">Transformation #4</span></li>
<li>Song or sunscreen brand (11) <span class="transformation-hint">Transformation #2</span></li>
<li>Fill in the ___ (5) <span class="transformation-hint">Transformation #4</span></li>
<li>B in FANBOYS (3) <span class="transformation-hint">Transformation #4</span></li>
<li>Train unit (3) <span class="transformation-hint">Transformation #4</span></li>
<li>Spiced tea (4) <span class="transformation-hint">Transformation #3</span></li>
<li>Word after skeleton or flight (4) <span class="transformation-hint">Transformation #3</span></li>
<li>Reverberates (6) <span class="transformation-hint">Transformation #5</span></li>
<li>Event one might buy a ring for (10) <span class="transformation-hint">Transformation #2</span></li>
<li>Indefinitely long time span (3) <span class="transformation-hint">Transformation #4</span></li>
<li>Slowly wear away (5) <span class="transformation-hint">Transformation #5</span></li>
<li>UFO pilot, perhaps (2) <span class="transformation-hint">Transformation #4</span></li>
<li>"Aha!" (6) <span class="transformation-hint">Transformation #5</span></li>
<li>Kind of warfare (8) <span class="transformation-hint">Transformation #5</span></li>
<li>Run-down dwelling (5) <span class="transformation-hint">Transformation #3</span></li>
<li>Cause of a rash (8) <span class="transformation-hint">Transformation #2</span></li>
<li>Magazine releases (6) <span class="transformation-hint">Transformation #3</span></li>
<li>Seinfeld's neighbor (6) <span class="transformation-hint">Transformation #1</span></li>
<li>Actress Gish (7) <span class="transformation-hint">Transformation #2</span></li>
<li>Secure (4) <span class="transformation-hint">Transformation #3</span></li>
<li>Something you might drop (3) <span class="transformation-hint">Transformation #4</span></li>
<li>Plug-in place (6) <span class="transformation-hint">Transformation #5</span></li>
<li>Quantity produced (6) <span class="transformation-hint">Transformation #5</span></li>
<li>Hurtful exclamation (2) <span class="transformation-hint">Transformation #4</span></li>
<li>Bread, in Paris (4) <span class="transformation-hint">Transformation #4</span></li>
<li>Body part or tree (4) <span class="transformation-hint">Transformation #1</span></li>
<li>Persecution delusion (8) <span class="transformation-hint">Transformation #5</span></li>
<li>Sir Fleming's discovery (10) <span class="transformation-hint">Transformation #2</span></li>
<li>Truffle hunter (3) <span class="transformation-hint">Transformation #4</span></li>
<li>___ of Paris (7) <span class="transformation-hint">Transformation #1</span></li>
<li>Rocket of film (7) <span class="transformation-hint">Transformation #2</span></li>
<li>Raised line (5) <span class="transformation-hint">Transformation #3</span></li>
<li>Decay (3) <span class="transformation-hint">Transformation #4</span></li>
<li>Propel a boat (3) <span class="transformation-hint">Transformation #4</span></li>
<li>A scramble to find gold, say (4) <span class="transformation-hint">Transformation #4</span></li>
<li>Most impudent or most covered in ketchup? (8) <span class="transformation-hint">Transformation #1</span></li>
<li>Biblical tempter (7) <span class="transformation-hint">Transformation #1</span></li>
<li>Most brainy (8) <span class="transformation-hint">Transformation #1</span></li>
<li>Dining room fixture (5) <span class="transformation-hint">Transformation #3</span></li>
<li>Mexican standard fare (4) <span class="transformation-hint">Transformation #1</span></li>
<li>Lung infection, for short (2) <span class="transformation-hint">Transformation #4</span></li>
<li>Toto's breed (7) <span class="transformation-hint">Transformation #2</span></li>
<li>Partner of fro (2) <span class="transformation-hint">Transformation #4</span></li>
<li>Large amount (3) <span class="transformation-hint">Transformation #4</span></li>
<li>It might get knocked out of you (4) <span class="transformation-hint">Transformation #4</span></li>
<li>It's made of letters (4) <span class="transformation-hint">Transformation #3</span></li>
<ul>

<script>
$(".transform-hints").click(function(){
	if ($(".transformation-hint").css("visibility") == "hidden"){
		$(".transformation-hint").css("visibility", "visible");
		$(".transform-hints").html("Hide Transformation Hints");
	} else {
		$(".transformation-hint").css("visibility", "hidden");
		$(".transform-hints").html("Show Transformation Hints");
	}
	
});
</script>

{% endblock %}
